body{
    margin: 0;
    font-family: sans
}

#map {
    background-color: #e7e7e7
}

#form {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid #e2e2e2;
    z-index: 1000

}

#loading {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 5px;
    width: 100px;
    text-align: center;
    background-color: #f9feb5;
    z-index: 1000

}

.popup {
    padding: 10px
}

.popup div{
    margin: 5px 0;
}

.popup .type{
    font-size: small;
    font-style: italic;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 20px
}

.popup .name{
    font-weight: bold
}

.popup .distance{
    font-size: small;
    font-style: italic;
    margin-top: 30px
}


/* OpenLayers classes */

.olPopupCloseBox  {
    background: url("../img/close.png") no-repeat scroll 0 0 transparent !important;
}
